@import url('https://fonts.cdnfonts.com/css/maharlika');

/* STYLE SECTIONING TAGS */
body {
 background-color: white;
}

*{ margin: 0px;
padding: 0px;
}

html{
  scroll-behavior: smooth;
}

main{
  background-color:#e0758e;
  padding: 5%;
}

header{
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr;
 column-gap: 5px;
}



/* STYLE TEXT */

h1 {
  color: black;
  font-family: 'Maharlika', sans-serif;
  text-align: right;
  margin: 3%;
  margin-left: 7%;
  font-size: 8vw;
  font-weight: lighter;
  display: block;
}

.highlight{
  background: linear-gradient(to top, #e0758e 60%, transparent 40%);
}



img{
  width: 90%;
  max-width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

header p{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
  margin: 3%;
  padding-left: 30px;
  text-align: right;
  line-height: 150%;
  font-size: 1.7vw;
}

main p{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
  text-align: left;
  line-height: 150%;
  font-size: 1.5rem; 
  color:white;
  margin-left:7%;
  margin-right: 7%;
}

hr.pinkline {
  border: 3px solid #e0758e;
  border-radius: 5px;

  margin: 3%;
  margin-left: 80px;
}

@media screen and (min-width: 900px) {
  p {
     font-size: 1.5vw;
  }
}

/* STYLE IMAGES */

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color:#e0758e;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

li {
display: inline;
}

li a{
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 20px;
  float: right;
  position: relative;
}

li a:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

/* social media */

.social-media{
	padding: 5px;
  float: right;
}

.social-media a {
  margin: 15px;
  font-size: 2.5rem;
  text-align:right;
	color: black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	top: -10px;
	color: #e0758e;
}


main h1{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
  color:white;
  font-weight: bold;
  text-align: left;
  font-size: 3rem;
}

.arrow {
  box-sizing: border-box;
  height: 4vw;
  width: 4vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.arrow:hover {
  border-color: #e0758e;
}

.container {
  display: flex;
  justify-content: center;
  height: 25vh;
}

.projects {
  border-left: 3px solid white;
  margin: 4%;
  padding: 1%;
}

.projects h2{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
  color:white;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  margin: 2%;
}

.projects p{
  
}

.projects a{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
  color:white;
  text-align: left;
  line-height: 150%;
  font-size: 1rem; 
  color:white;
  margin-left:7%;
  margin-right: 7%;
}

.projects i{
  color:white;
}
